@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --primary-font: 'Arvo', serif;
}

html,
body {
    min-height: 100vh;
    width     : 100%;
}

body {
    background-color: rgba(242, 242, 242, .5);
    font-family     : var(--primary-font);
    font-size       : 16px;
    user-select     : none;
}

.flex {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

.container {
    min-height: 100vh;
    padding   : 2rem 2%;
    width     : 100%;
}

.main {
    background-color: #fff;
    border-radius   : .5rem;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    flex-direction  : column;
    gap             : 1rem;
    max-width       : 1000px;
    padding         : 1rem;
    width           : 100%;
}

.title {
    border-radius : .8rem;
    font-size     : 2rem;
    font-weight   : 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align    : center;
    width         : 100%;
}

.header {
    gap: 1.25rem;
}

.header div {
    text-align: center;
}

.header div h2,
.header div span {
    font-size  : 1.125rem;
    font-weight: 500;
}

.resetBtn {
    background-color: #ddd;
    border          : none;
    border-radius   : .5rem;
    cursor          : pointer;
    font-size       : 1.5rem;
    font-family     : inherit;
    font-weight     : 600;
    letter-spacing  : .1rem;
    padding         : 16px;
    transition      : .3s ease-in-out;
    text-transform  : uppercase;
    width           : 100%;
}

.resetBtn:hover {
    background-color: #f1f1f1;
}

.game {
    flex-wrap      : wrap;
    flex-grow      : 1;
    gap            : 1rem;
    margin         : 1rem 0;
    perspective    : 500px;
    transform-style: preserve-3d;
    width          : 100%;
}

.game-card {
    align-items     : center;
    background-color: #fff;
    box-shadow      : 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    border-radius  : 8px;
    cursor         : pointer;
    display        : flex;
    height         : 120px;
    justify-content: center;
    position       : relative;
    transition     : 0.25s;
    transform      : rotateY(180deg);
    width          : 120px;
}

.game-card::after {
    backface-visibility: hidden;
    background-color   : #00b300;
    content            : "";
    inset              : 0;
    position           : absolute;
    transition         : 0.25s;
    transform          : rotateY(0deg);
}

.game-card img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.game-card.cardOpen {
    transform: rotateY(0deg);
}

.cardOpen::after,
.cardMatch::after {
    content  : "";
    transform: rotateY(180deg);
}

.cardMatch {
    pointer-events: none;
}