@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    user-select: none;
}

html,
body {
    height: 100%;
    width : 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
}