@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    outline: none;
}

html,
body {
    height: 100%;
    width : 100%;
}

body {
    background-color: #e3f2fd;
    color           : #fff;
    font-family     : 'Poppins', sans-serif;
    min-height      : 100%;
}

.flex {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

.container {
    background-color: #000;
    border          : 2px solid #000;
    border-radius   : 1.25rem;
    max-width       : 780px;
    padding         : 2rem 2.625rem;
    width           : 100%;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    align-items: center;
    display    : flex;
    gap        : 16px;
}

header .column span {
    font-size  : 1.25rem;
    font-weight: 500;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-check input {
    appearance      : none;
    background-color: #4b4b4b;
    border-radius   : 1.875rem;
    cursor          : pointer;
    height          : 30px;
    position        : relative;
    width           : 60px;
}

.keys-check input::before {
    background-color: #8c8c8c;
    border-radius   : 50%;
    content         : "";
    height          : 20px;
    left            : 0.313rem;
    position        : absolute;
    transform       : translateY(-50%);
    transition      : all .3s ease-in-out;
    top             : 50%;
    width           : 20px;
}

.keys-check input:checked::before {
    background-color: #fff;
    left            : 2rem;
}

.piano-keys {
    margin-top: 2.5rem;
}